body {
  background-color: #191c20;
  height: 100vh;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: lightgray;
}

a {
  color: inherit;
}

ul {
  list-style: number;
}

h1 {
  margin-top: 4rem;
}

button {
  font-weight: 800;
}


input {
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 200px;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-top: 2rem;
}

.create-room-button {
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-color: lightgreen;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-room-button:hover {
  background-color: #45a049;
}

.rules-box {
  margin: 0 auto;
  width: 50%;
  background-color: #131519;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  
}
